---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { LodgeFavoriteButton } from "../../components/client/LodgeFavoriteButton";
import TourList from "../../components/server/TourList.astro";
import { getLodgeBySlug } from "../../lib/api/lodges/getLodgeBySlug";
import { getFavoriteStateForLodge } from "../../lib/api/lodges/getFavoriteStateForLodge";
import { getStages } from "../../lib/api/stages/getStages";
import { fetchTourVariants } from "../../lib/api/tours/fetchTourVariants";
import { convertStagesToNeighbourLodges } from "../../lib/utils/neighbourLodges";
import { pageContainer } from "../../styles/layout";

const slug = Astro.params.slug ?? "";
const lodge = await getLodgeBySlug(Astro, slug);
const isLoggedIn = Astro.locals.isLoggedIn;
type LodgeStages = Awaited<ReturnType<typeof getStages>>;
type LodgeTours = Awaited<ReturnType<typeof fetchTourVariants>>;

const imageBaseUrl = "/storage/v1/object/public/lodge_images/";

const lodgeImageUrl = lodge?.image_path
  && new URL(
      `${imageBaseUrl}${lodge.image_path}`,
      import.meta.env.SUPABASE_URL,
    ).toString()
  ;

if (!lodge) {
  Astro.response.status = 404;
}

let initialIsFavorite = false;
let stages: LodgeStages = [];
let tours: LodgeTours = [];

if (lodge) {
  if (isLoggedIn) {
    const [fetchedStages, fetchedTours, favoriteState] = await Promise.all([
      getStages(Astro, { lodgeId: lodge.id }),
      fetchTourVariants(Astro, { lodgeId: lodge.id }),
      getFavoriteStateForLodge(Astro, lodge.id),
    ]);

    stages = fetchedStages;
    tours = fetchedTours;
    initialIsFavorite = favoriteState;
  } else {
    [stages, tours] = await Promise.all([
      getStages(Astro, { lodgeId: lodge.id }),
      fetchTourVariants(Astro, { lodgeId: lodge.id }),
    ]);
  }
}

const neighbouringLodges =
  lodge && stages.length > 0
    ? convertStagesToNeighbourLodges(stages, lodge.id)
    : [];
---

<SiteLayout>
  <div class={pageContainer}>
    {
      lodge ? (
        <>
          <div class="heading-container">
              <h1>{lodge.name}</h1>
              {isLoggedIn && (
                <LodgeFavoriteButton
                  client:load
                  lodgeId={lodge.id}
                  initialIsFavorite={initialIsFavorite}
                />
              )}
          </div>
          {lodge.description && <p>{lodge.description}</p>}
          {lodgeImageUrl && <img src={lodgeImageUrl} alt={lodge.name} />}
          {neighbouringLodges.length > 0 && (
            <>
              <h2>Neighbouring Lodges</h2>
              <ul>
                {neighbouringLodges.map(({ name, slug }) => (
                  <li>
                    <a href={`/lodges/${slug}`}>{name}</a>
                  </li>
                ))}
              </ul>
            </>
          )}
          {tours.length > 0 && (
            <>
              <h2>Tours</h2>
              <TourList tours={tours} />
            </>
          )}
        </>
      ) : (
        <>
          <h1>Lodge not found</h1>
          <p>We could not find a lodge for slug {slug}.</p>
        </>
      )
    }
  </div>
</SiteLayout>

<style>
  .heading-container {
    display: flex;
    align-items: center;
    gap: .5rem;
  }
</style>
