---
import SiteLayout from "../../layouts/SiteLayout.astro";
import {
  getLodgeBySlug,
  getNeighbouringLodges,
  getToursByLodgeId,
} from "../../lib/api/lodges";

const slug = Astro.params.slug ?? "";
const lodge = await getLodgeBySlug(Astro, slug);

if (!lodge.data) {
  Astro.response.status = 404;
}

// TODO neighbouring lodges could also be fetched directly in getLodgeBySlug
// Or even better, load the page with the lodge data and then fetch the neighbouring lodges in the client
const neighbouringLodges = lodge.data
  ? await getNeighbouringLodges(Astro, lodge.data.id)
  : [];

const tours = lodge.data ? await getToursByLodgeId(Astro, lodge.data.id) : [];
---

<SiteLayout>
  <div class="page-container">
    {
      lodge.data ? (
        <>
          <h1>{lodge.data.name}</h1>
          {lodge.data.description && <p>{lodge.data.description}</p>}
          {neighbouringLodges.length > 0 && (
            <>
              <h2>Neighbouring Lodges</h2>
              <ul>
                {neighbouringLodges.map(({ name, slug }) => (
                  <li>
                    <a href={`/lodges/${slug}`}>{name}</a>
                  </li>
                ))}
              </ul>
            </>
          )}
          {tours.length > 0 && (
            <>
              <h2>Tours</h2>
              <ul>
                {tours.map(({ tour, variant }) => (
                  <li>
                    <a
                      href={
                        variant.is_primary
                          ? `/tours/${tour.slug}`
                          : `/tours/${tour.slug}/${variant.slug}`
                      }
                    >
                      {tour.name}
                    </a>
                  </li>
                ))}
              </ul>
            </>
          )}
        </>
      ) : (
        <>
          <h1>Lodge not found</h1>
          <p>We could not find a lodge for slug {slug}.</p>
        </>
      )
    }
  </div>
</SiteLayout>
