---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getToursByLodgeId } from "../../lib/api/lodges";
import TourList from "../../components/server/TourList.astro";
import { getLodgeBySlug } from "../../lib/api/lodges/getLodgeBySlug";
import { getStages } from "../../lib/api/stages/getStages";
import { convertStagesToNeighbourLodges } from "../../lib/utils/neighbourLodges";

const slug = Astro.params.slug ?? "";
const lodge = await getLodgeBySlug(Astro, slug);

if (!lodge) {
  Astro.response.status = 404;
}

const [stages = [], tours = []] = lodge
  ? await Promise.all([
      getStages(Astro, { lodgeId: lodge.id }),
      getToursByLodgeId(Astro, lodge.id),
    ])
  : [];

const neighbouringLodges =
  lodge && stages.length > 0
    ? convertStagesToNeighbourLodges(stages, lodge.id)
    : [];
---

<SiteLayout>
  <div class="page-container">
    {
      lodge ? (
        <>
          <h1>{lodge.name}</h1>
          {lodge.description && <p>{lodge.description}</p>}
          {neighbouringLodges.length > 0 && (
            <>
              <h2>Neighbouring Lodges</h2>
              <ul>
                {neighbouringLodges.map(({ name, slug }) => (
                  <li>
                    <a href={`/lodges/${slug}`}>{name}</a>
                  </li>
                ))}
              </ul>
            </>
          )}
          {tours.length > 0 && (
            <>
              <h2>Tours</h2>
              <TourList tours={tours} />
            </>
          )}
        </>
      ) : (
        <>
          <h1>Lodge not found</h1>
          <p>We could not find a lodge for slug {slug}.</p>
        </>
      )
    }
  </div>
</SiteLayout>
