---
import SiteLayout from "../../../layouts/SiteLayout.astro";
import {
  getTourBySlug,
  getTourVariantBySlug,
  getTourVariantStages,
  getTourVariants,
} from "../../../lib/api/tours";

const tourSlug = Astro.params.slug ?? "";
const variantSlug = Astro.params.variantSlug ?? "";
const tour = await getTourBySlug(Astro, tourSlug);
const tourData = tour.data;
const tourDataSlug = tourData?.slug ?? "";

if (!tourData) {
  Astro.response.status = 404;
}

const variant = tourData
  ? await getTourVariantBySlug(Astro, tourData.id, variantSlug)
  : null;

const variantData = variant?.data;

if (tourData && !variantData) {
  Astro.response.status = 404;
}

const variantStages =
  variantData &&
  (await getTourVariantStages(Astro, { variantIds: [variantData.id] }));

const variants =
  tourData && (await getTourVariants(Astro, { tourIds: [tourData.id] }));

const otherVariants = (variants?.data ?? []).filter(
  (otherVariant) => otherVariant.slug !== variantSlug,
);
---

<SiteLayout>
  <div class="page-container">
    {
      tourData && variantData ? (
        <>
          <h1>{tourData.name}</h1>
          <h2>{variantData.label}</h2>
          {variantData.description && <p>{variantData.description}</p>}
          {variantStages?.data && variantStages.data.length > 0 && (
            <ul>
              {variantStages.data.map(({ stage }) => {
                return (
                  <li>
                    <a href={`/lodges/${stage.from.slug}`}>{stage.from.name}</a>
                    <span class="stage-separator">to</span>
                    <a href={`/lodges/${stage.to.slug}`}>{stage.to.name}</a>
                  </li>
                );
              })}
            </ul>
          )}
          {otherVariants.length > 0 && (
            <>
              <h3>Other variants</h3>
              <ul>
                {otherVariants.map((otherVariant) => (
                  <li>
                    <a href={`/tours/${tourDataSlug}/${otherVariant.slug}`}>
                      {otherVariant.label}
                    </a>
                  </li>
                ))}
              </ul>
            </>
          )}
        </>
      ) : (
        <>
          <h1>Tour variant not found</h1>
          <p>
            We could not find a variant for tour {tourSlug} and slug{" "}
            {variantSlug}.
          </p>
        </>
      )
    }
  </div>
</SiteLayout>

<style>
  ul {
    li {
      font-style: italic;
    }
  }

  .stage-separator {
    margin-inline: 0.25rem;
    color: #999;
  }
</style>
