---
import SiteLayout from "../../../layouts/SiteLayout.astro";
import TourContent from "../../../components/server/TourContent.astro";
import { getTourBySlug } from "../../../lib/api/tours/getTourBySlug";
import { getTourVariantBySlug } from "../../../lib/api/tours/getTourVariantBySlug";
import { getTourVariantStagesByTourVariantId } from "../../../lib/api/tours/getTourVariantStagesByTourVariantId";
import { getTourVariantsByTourId } from "../../../lib/api/tours/getTourVariantsByTourId";
import { pageContainer } from "../../../styles/layout";

const tourSlug = Astro.params.slug ?? "";
const variantSlug = Astro.params.variantSlug ?? "";
const tour = await getTourBySlug(Astro, tourSlug);

if (!tour) {
  Astro.response.status = 404;
}

const variant =
  tour && (await getTourVariantBySlug(Astro, tour.id, variantSlug));

if (!variant) {
  Astro.response.status = 404;
}

const [stages, variants] = await Promise.all([
  variant ? getTourVariantStagesByTourVariantId(Astro, variant.id) : [],
  tour ? getTourVariantsByTourId(Astro, tour.id) : [],
]);
---

<SiteLayout>
  <div class={pageContainer}>
    {
      tour && variant ? (
        <TourContent
          tour={{ name: tour.name, slug: tour.slug }}
          variants={variants}
          selectedVariant={variant}
          stages={stages}
        />
      ) : (
        <>
          <h1>Tour variant not found</h1>
          <p>
            We could not find a variant for tour {tourSlug} and slug{" "}
            {variantSlug}.
          </p>
        </>
      )
    }
  </div>
</SiteLayout>
