---
import { pageContainer } from "../../styles/layout";

const isLoggedIn = Astro.locals.isLoggedIn;

interface NavItem {
  href: string;
  label: string;
  className?: string;
}

const navStart: NavItem[] = [
  { href: "/", label: "VRTX", className: "home" },
  { href: "/explore", label: "Explore" },
  { href: "/tours", label: "Tours" },
];

const navEnd: NavItem[] = [
  { href: "/auth/register", label: "Sign Up" },
  { href: "/auth/login", label: "Sign In" },
];
---

<header>
  <nav class={pageContainer}>
    <ul>
      {navStart.map(({ href, label, className }) => (
        <li>
          <a href={href} class={className}>
            {label}
          </a>
        </li>
      ))}
    </ul>
    {isLoggedIn ? null : (
      <ul>
        {navEnd.map(({ href, label, className }) => (
          <li>
            <a href={href} class={className}>
              {label}
            </a>
          </li>
        ))}
      </ul>
    )}
  </nav>
</header>

<style>
  header {
    height: 4rem;
    border-bottom: 1px solid black;

    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      ul {
        display: flex;
        gap: 1rem;
        align-items: center;
      }

      .home {
        font-weight: bold;
        font-size: 1.5rem;
      }
    }
  }
</style>
