---
import SiteLayout from "../../layouts/SiteLayout.astro";
import { getTourBySlug, getTourStages } from "../../lib/api/tours";

const slug = Astro.params.slug ?? "";
const tour = await getTourBySlug(Astro, slug);

if (!tour.data) {
  Astro.response.status = 404;
}

const tourStages = tour.data
  ? await getTourStages(Astro, { tourIds: [tour.data.id] })
  : null;
---

<SiteLayout>
  <div class="page-container">
    {
      tour.data ? (
        <>
          <h1>{tour.data.name}</h1>
          {tourStages?.data && tourStages.data.length > 0 && (
            <>
              <h2>Stages</h2>
              <ul>
                {tourStages.data.map(({ stage }) => {
                  return (
                    <li>
                      <a href={`/lodges/${stage.from.slug}`}>
                        {stage.from.name}
                      </a>
                      <span> - </span>
                      <a href={`/lodges/${stage.to.slug}`}>
                        {stage.to.name}
                      </a>
                    </li>
                  );
                })}
              </ul>
            </>
          )}
        </>
      ) : (
        <>
          <h1>Tour not found</h1>
          <p>We could not find a tour for slug {slug}.</p>
        </>
      )
    }
  </div>
</SiteLayout>
