---
import SiteLayout from "../../layouts/SiteLayout.astro";
import StageList from "../../components/server/StageList.astro";
import TourList from "../../components/server/TourList.astro";
import { getLodges } from "../../lib/api/lodges/getLodges";
import { getStages } from "../../lib/api/stages/getStages";
import { fetchTourVariants } from "../../lib/api/tours/fetchTourVariants";
import { pageContainer } from "../../styles/layout";

const [lodges, stages, tours] = await Promise.all([
  getLodges(Astro, { limit: 5 }),
  getStages(Astro, { limit: 5 }),
  fetchTourVariants(Astro, { limit: 5 }),
]);
---

<SiteLayout>
  <div class={pageContainer}>
    <h1>Explore</h1>
    <section>
      <div class="section-header">
        <h2>Lodges</h2>
        <a class="section-link" href="/lodges">View all</a>
      </div>
      {
        lodges.length > 0 && (
          <ul>
            {lodges.map(({ name, slug }) => (
              <li>
                <a href={`/lodges/${slug}`}>{name}</a>
              </li>
            ))}
          </ul>
        )
      }
    </section>

    <section>
      <div class="section-header">
        <h2>Single-Day Hikes</h2>
        <a class="section-link" href="/stages">View all</a>
      </div>
      <StageList stages={stages} />
    </section>

    <section>
      <div class="section-header">
        <h2>Multi-Day Tours</h2>
        <a class="section-link" href="/tours">View all</a>
      </div>
      <TourList tours={tours} />
    </section>
  </div>
</SiteLayout>

<style>
  .section-header {
    display: flex;
    align-items: baseline;
    gap: 0.5rem;
  }

  .section-link {
    font-style: italic;
  }
</style>
